In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler

#### Pre-Processing

In [9]:
dataset = pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [10]:
dataset.shape

(1338, 6)

In [11]:
print(dataset['sex'].value_counts())
print(dataset['smoker'].value_counts())

male      676
female    662
Name: sex, dtype: int64
no     1064
yes     274
Name: smoker, dtype: int64

In [12]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

#### Classify categorical columns in integers

In [13]:
datasets=pd.get_dummies(dataset,drop_first=True)
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [14]:
#Declare Dep and indep variables
indep=datasets[['age','bmi','children','sex_male','smoker_yes']]
dep=datasets[['charges']]

In [15]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [16]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

### Multiple Linear Regression

In [17]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred=regressor.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.7835815751657258

### Suppport Vector Regressor

In [20]:
# from sklearn.svm import SVR
# regressor=SVR(kernel="rbf",C=5000,gamma='scale')
# regressor=regressor.fit(X_train,y_train)
# y_pred=regressor.predict(X_test)
# from sklearn.metrics import r2_score
# r_score=r2_score(y_test,y_pred)
# r_score

C:\Users\91739\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8679014015751895

In [21]:
def predict_using_SVM(c_values=[10,100,1000,2000,3000,4000,5000,6000,10000,20000,50000], kernel_values=['linear','poly','rbf','sigmoid']):
    import pandas as pd
    r_score_df=pd.DataFrame()
    from sklearn.svm import SVR
    for c_value in c_values:
        r_scores=[]
        for kernel_value in kernel_values:
            regressor=SVR(kernel=kernel_value,C=c_value,gamma='auto')
            regressor=regressor.fit(X_train,y_train)
            y_pred=regressor.predict(X_test)

            from sklearn.metrics import r2_score
            r_score=r2_score(y_test,y_pred)
            r_scores.append(r_score)
            print(c_value)
            print(r_score)
            print(r_scores)
        r_score_df = r_score_df.append({'HYPER PARAMETER': 'C'+str(c_value), 'LINEAR':r_scores[0] , 'POLY': r_scores[1],'RBF':r_scores[2],'SIGMOID':r_scores[3]}, ignore_index=True)  
    print(r_score_df)   
    return r_score_df

In [ ]:
y=predict_using_SVM()

In [25]:
y

   HYPER PARAMETER    LINEAR      POLY       RBF     SIGMOID
0              C10  0.426513  0.019718 -0.048902    0.018844
1             C100  0.608081  0.569865  0.285553    0.502977
2            C1000  0.756765  0.827265  0.787621    0.202723
3            C2000  0.762393  0.837318  0.844246   -0.503645
4            C3000  0.762378  0.838836  0.860176   -1.857893
5            C4000  0.762525  0.838920  0.865275   -3.901344
6            C5000  0.762526  0.838004  0.867901   -6.726296
7            C6000  0.762536  0.838061  0.870303   -9.970564
8           C10000  0.762536  0.838908  0.873128  -26.728276
9           C20000  0.762540  0.839335  0.873911 -108.237837
10          C50000  0.762554  0.840254  0.873995 -687.752909

In [26]:
y['RBF'].max()

0.8739946846462712

In [27]:
y['POLY'].max()

0.8402544583186105

### Decission Tree regressor

In [28]:
# from sklearn.tree import DecisionTreeRegressor 
# regressor=DecisionTreeRegressor(criterion='mae',splitter='random',random_state=0) 
# regressor=regressor.fit(X_train,y_train)
# y_pred=regressor.predict(X_test)
# from sklearn.metrics import r2_score
# r_score=r2_score(y_test,y_pred)
# r_score

0.7306033088869909

In [29]:
def predict_using_DecisionTree(random_st,cri_values=['mse','friedman_mse','mae'], splitter_values=['best','random']):
    import pandas as pd
    r_score_df=pd.DataFrame()
    for splitter_value in splitter_values:
        r_scores=[]
        for cri_value in cri_values:
            from sklearn.tree import DecisionTreeRegressor 
            regressor=DecisionTreeRegressor(criterion=cri_value,splitter=splitter_value,random_state=random_st) 
            regressor=regressor.fit(X_train,y_train)
            y_pred=regressor.predict(X_test)
            
            from sklearn.metrics import r2_score
            r_score=r2_score(y_test,y_pred)
           
            r_scores.append(r_score)
           
            r_dict={'CRITERION': cri_value, 'splitter_value':splitter_value , 'Random_state': random_st,'r_value':r_score}
            print(r_dict)
            r_score_df = r_score_df.append(r_dict, ignore_index=True)  
    print(r_score_df)   
    return r_score_df

In [30]:
r=predict_using_DecisionTree(0)
r

{'CRITERION': 'mse', 'splitter_value': 'best', 'Random_state': 0, 'r_value': 0.6922044155676114}
{'CRITERION': 'friedman_mse', 'splitter_value': 'best', 'Random_state': 0, 'r_value': 0.6967489277593659}
{'CRITERION': 'mae', 'splitter_value': 'best', 'Random_state': 0, 'r_value': 0.6682773243300217}
{'CRITERION': 'mse', 'splitter_value': 'random', 'Random_state': 0, 'r_value': 0.7077741761179381}
{'CRITERION': 'friedman_mse', 'splitter_value': 'random', 'Random_state': 0, 'r_value': 0.7057098303003364}
{'CRITERION': 'mae', 'splitter_value': 'random', 'Random_state': 0, 'r_value': 0.7306033088869909}
      CRITERION  Random_state   r_value splitter_value
0           mse           0.0  0.692204           best
1  friedman_mse           0.0  0.696749           best
2           mae           0.0  0.668277           best
3           mse           0.0  0.707774         random
4  friedman_mse           0.0  0.705710         random
5           mae           0.0  0.730603         random

      CRITERION  Random_state   r_value splitter_value
0           mse           0.0  0.692204           best
1  friedman_mse           0.0  0.696749           best
2           mae           0.0  0.668277           best
3           mse           0.0  0.707774         random
4  friedman_mse           0.0  0.705710         random
5           mae           0.0  0.730603         random

In [31]:
r=predict_using_DecisionTree(1)
r

{'CRITERION': 'mse', 'splitter_value': 'best', 'Random_state': 1, 'r_value': 0.6929839481996328}
{'CRITERION': 'friedman_mse', 'splitter_value': 'best', 'Random_state': 1, 'r_value': 0.6913962368981486}
{'CRITERION': 'mae', 'splitter_value': 'best', 'Random_state': 1, 'r_value': 0.6705127163012532}
{'CRITERION': 'mse', 'splitter_value': 'random', 'Random_state': 1, 'r_value': 0.7130205058338763}
{'CRITERION': 'friedman_mse', 'splitter_value': 'random', 'Random_state': 1, 'r_value': 0.710511857136896}
{'CRITERION': 'mae', 'splitter_value': 'random', 'Random_state': 1, 'r_value': 0.6913232157827451}
      CRITERION  Random_state   r_value splitter_value
0           mse           1.0  0.692984           best
1  friedman_mse           1.0  0.691396           best
2           mae           1.0  0.670513           best
3           mse           1.0  0.713021         random
4  friedman_mse           1.0  0.710512         random
5           mae           1.0  0.691323         random

      CRITERION  Random_state   r_value splitter_value
0           mse           1.0  0.692984           best
1  friedman_mse           1.0  0.691396           best
2           mae           1.0  0.670513           best
3           mse           1.0  0.713021         random
4  friedman_mse           1.0  0.710512         random
5           mae           1.0  0.691323         random

### Random Forest

In [ ]:

# regressor = RandomForestRegressor(n_estimators = 1000, random_state = 0,max_depth=7,max_features='log2') 
# regressor.fit(X_train, y_train)
# y_pred=regressor.predict(X_test)
# from sklearn.metrics import r2_score
# r_score=r2_score(y_test,y_pred)
# r_score

In [35]:
from sklearn.ensemble import RandomForestRegressor

In [36]:
def predict_using_RandomForest(n_estimators_vals=[10,500,700],cri_values=['mse','friedman_mse','mae'],max_depth_values=[1,2,3,4,5,6,7],max_features=['log2','sqrt'] ):
    import pandas as pd
    r_score_df=pd.DataFrame()
    for n_estimators_val in n_estimators_vals:
        r_scores=[]
        for cri_value in cri_values:
            for max_depth_value in max_depth_values:
                from sklearn.tree import DecisionTreeRegressor 
                regressor = RandomForestRegressor(n_estimators =n_estimators_val, criterion=cri_value,random_state = 0,max_depth=max_depth_value,max_features='log2') 
                regressor.fit(X_train, y_train)
                y_pred=regressor.predict(X_test)

                from sklearn.metrics import r2_score
                r_score=r2_score(y_test,y_pred)

                r_scores.append(r_score)

                r_dict={'CRITERION': cri_value, 'N_ESTIMATORS':n_estimators_val ,'max_depth':max_depth_value,'r_value':r_score}
                print(r_dict)
                r_score_df = r_score_df.append(r_dict, ignore_index=True)  
    print(r_score_df)   
    return r_score_df

In [ ]:
r=predict_using_RandomForest()
r

In [38]:
r

   CRITERION  N_ESTIMATORS  max_depth   r_value
0        mse          10.0        1.0  0.448788
1        mse          10.0        2.0  0.631927
2        mse          10.0        3.0  0.817794
3        mse          10.0        4.0  0.859737
4        mse          10.0        5.0  0.880609
..       ...           ...        ...       ...
58       mae         700.0        3.0  0.770170
59       mae         700.0        4.0  0.835720
60       mae         700.0        5.0  0.869371
61       mae         700.0        6.0  0.883049
62       mae         700.0        7.0  0.889504

[63 rows x 4 columns]

In [40]:
r.loc[r['r_value']>=0.80]

       CRITERION  N_ESTIMATORS  max_depth   r_value
2            mse          10.0        3.0  0.817794
3            mse          10.0        4.0  0.859737
4            mse          10.0        5.0  0.880609
5            mse          10.0        6.0  0.880349
6            mse          10.0        7.0  0.868753
9   friedman_mse          10.0        3.0  0.817794
10  friedman_mse          10.0        4.0  0.859737
11  friedman_mse          10.0        5.0  0.880908
12  friedman_mse          10.0        6.0  0.880349
13  friedman_mse          10.0        7.0  0.870202
17           mae          10.0        4.0  0.835454
18           mae          10.0        5.0  0.864807
19           mae          10.0        6.0  0.890144
20           mae          10.0        7.0  0.875421
23           mse         500.0        3.0  0.801873
24           mse         500.0        4.0  0.856558
25           mse         500.0        5.0  0.879888
26           mse         500.0        6.0  0.884866
27           mse         500.0        7.0  0.886389
30  friedman_mse         500.0        3.0  0.801873
31  friedman_mse         500.0        4.0  0.856550
32  friedman_mse         500.0        5.0  0.879916
33  friedman_mse         500.0        6.0  0.884935
34  friedman_mse         500.0        7.0  0.886523
38           mae         500.0        4.0  0.835855
39           mae         500.0        5.0  0.869358
40           mae         500.0        6.0  0.882911
41           mae         500.0        7.0  0.889022
44           mse         700.0        3.0  0.801479
45           mse         700.0        4.0  0.855193
46           mse         700.0        5.0  0.879310
47           mse         700.0        6.0  0.885508
48           mse         700.0        7.0  0.886123
51  friedman_mse         700.0        3.0  0.801479
52  friedman_mse         700.0        4.0  0.855196
53  friedman_mse         700.0        5.0  0.879482
54  friedman_mse         700.0        6.0  0.885547
55  friedman_mse         700.0        7.0  0.886213
59           mae         700.0        4.0  0.835720
60           mae         700.0        5.0  0.869371
61           mae         700.0        6.0  0.883049
62           mae         700.0        7.0  0.889504